@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.Case {
  margin-top: 1.75rem;

  @include tablet {
    width: 48%;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
  }

  &__name {
    margin-bottom: .25rem;
    @include font_size_heading;

    &--copied {
      @extend .Case__name;
      color: $color_accent_primary;
    }
  }

  &__copyButton {
    margin-left: auto;
    padding: .5rem .9rem;
    background: none;
    border: 1px solid $color_accent_primary;
    border-radius: .25rem;
    transition: all .15s;

    @include tablet {
      padding: .4rem .6rem;
    }

    &--copied {
      @extend .Case__copyButton;
      color: white;
      font-weight: 500;
      background: $color_accent_primary;
    }

    &:hover {
      background: $color_accent_primary;
    }

    &:focus {
      outline: none;
    }
  }

  &__options {
    margin-bottom: .4rem;
    padding-top: .4rem;
    border-top: 1px dashed $color_dark_secondary;
  }

  &__checkbox {
    margin-left: auto;
  }

  &__label {
    font-size: .8rem;
    cursor: pointer;
  }

  &__textarea {
    @include textarea;
    height: 6rem;
    cursor: default;
  }
}