@use "../../styles/mixins" as *;

.Case {
  margin-top: 1rem;
  
  @include tablet {
    margin-right: 2rem;
    width: 40%;
  }

  &__header {
    display: flex;
    align-items: baseline;
  }

  &__name {
    margin-bottom: .25rem;
    font-size: 1.5rem;
  }

  &__checkbox {
    margin-left: auto;
  }

  &__label {
    font-size: .9rem;
  }

  &__textarea {
    @include textarea;
    height: 6rem;
  }
}