@use "./mixins" as *;
@use "./variables" as *;

.App {
  padding-left: 1rem;
  padding-right: 1rem;

  @include tablet {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include desktop {
    width: $media_desktop_width;
  }
}