@use "./mixins" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  @include typography_font_default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6,p {
  margin:0;
  padding:0;
}