@use "../styles/mixins" as *;
@use "../styles/variables" as *;

.Input {
  @include section_header;

  &__title {
    margin-bottom: 1rem;
    @include typography_mobile_sectionHeader;
  }

  &__details {
    display: flex;
    align-items: baseline;
    margin-bottom: .5rem;
  }

  &__button {
    font-size: .9rem;
    background-color: rgba($color_accent_primary, .09);
    border: 1px solid $color_accent_primary;
    color: $color_dark_primary;
    border-radius: .25rem;
    transition-property: background-color, color, transform;
    transition-duration: .08s;
    
    &:hover {
      background-color: rgba($color_accent_primary, .2);
    }
    
    &:active {
      background-color: rgba($color_accent_primary, .3);
      transform: translateY(5%);
    }

    &:focus {
      outline: none;
    }

    &--tablet {
      @extend .Input__button;
      margin-left: 1rem;
      padding: .4rem .7rem;
      display: none;

      @include tablet {
        display: inline-block;
      }
    }

    &--mobile {
      @extend .Input__button;
      margin-top: .5rem;
      margin-right: 1rem;
      padding: .4rem .9rem;

      @include tablet {
        display: none;
      }
    }
  }

  &__textarea {
    @include textarea;
    height: 10rem;
  }
}