@use "../../styles/variables" as *;

.Footer {
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 4rem;
  background: linear-gradient($color_light_primary, white);
  border-bottom: 4rem solid white;
  display: flex;
  justify-content: center;
  
  &__heading{
    font-size: .9rem;
    font-weight: 600;
    color: lightgray;
  }

  &__heart {
    padding-left: .3rem;
    padding-right: .5rem;
  }

  &__link {
    padding-left: .3rem;
    color: inherit;
    font-size: inherit;
    text-decoration: none;
  }
}